*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: '宋体';
}

button, input, select, textarea, label, tr, td{
    vertical-align:top;
    outline: none;
}
tr,td,a,li{
    color: #333;
    font-size: 12px;
}
p,span{
    font-size: 12px;
    color: #333333;
}
input{
    outline: none;
}
.clear{
    clear: both;
}
body{
    background: #ffffff;
    color: #333;
    width: 100%;
}
/* 头部 */
.bg-hreadr{
    width: 100%;
    background: #f1f1f1;
}
.content-header{
    width: 1000px;
    margin: 0 auto;
}
.header-icon1 a{
    display: block;
    float: left;
    background: url(../img/index11_03.png) no-repeat 0 1px;
    height: 36px;
    padding-left: 28px;
    line-height: 36px;
    margin-right: 15px;
    color: #333333;
    font-size: 12px;
}
.hx{
    border-left: 1px solid #DDDDDD;
    display: block;
    float: left;
    height: 14px;
    margin-top: 11px;
}
.phone-icon2{
    position: relative;
    width: 130px;
    float: left;
}
.a2{
    float: left;
    background: url(../img/index12_07.png) no-repeat 0px 3px;
    height: 36px;
    padding-left: 30px;
    line-height: 36px;
    margin-left: 5px;
    cursor: pointer;
    display: block;
}
.a2 span{
    float: left;
    cursor: pointer;
}
.phone-icon2 b,.phone-show b{
    display: block;
    background:url(../img/index19_03.png) no-repeat 5px center;
    height: 36px;
    width: 14px;
    float: left;
    cursor: pointer;
}
/* 手机二维码 */
.phone-icon2:hover .phone-show{
    display:block;
}
.phone-show{
    position: absolute;
    background: #fff;
    display: none;
    box-shadow: 3px 3px 10px #444;
}
.phone-show p{
    padding: 0px 10px 8px 9px;
}
.phone-show .a2 .shang{
    background: url(../img/index19_03.png) no-repeat 5px center;
}
.hrader-right{
    float: right;
}
.hrader-right ul li{
    float: left;
    height: 36px;
    line-height: 36px;
    margin-left: 10px;
}
.hrader-right .hx{
    margin-left: 10px;
    margin-right: 10px;
}
/* 登录后 */
.red{
    color: #ff0000 !important;
    font-family: 'Arial'
}
.login-user{
    display: none;
}
.content-header:after{
    content: "";
    display: block;
    clear:both;
}
.hea-car{
    width: 1000px;
    margin: 0 auto;
}
.hea-left{
    width: 326px;
    float: left;
    height: 116px;
    padding-top: 23px;
}
.hea-car ul{
    width: 435px;
    height: 50px;
    float: right;
    margin-top: 45px;
}
.hea-car ul li{
    width: 145px;
    height: 50px;
    line-height: 25px;
    text-align: center;
    font-family: 微软雅黑;
    color: rgb(102, 102, 102);
    font-size: 14px;
    float: left;
    background: url(../img/titbg.png) no-repeat;
}
.hea-car ul li strong{
    color: #ffffff;
}
/* 购物车进度选中效果 */
.hea-car .check-li{
    background-position: -145px 0;
}
/* 进度条下面 */
.car-bc{
    border-bottom: 2px solid #db2766;
    height: 40px;
}
.car-boton{
    width: 1000px;
    margin: 0 auto;
    height: 38px;
}
.car-boton a{
    width: 120px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border: 1px solid #cecbce;
    color: #005ea7;
    float: right;
}
.car-boton h4{
    width: 114px;
    height: 28px;
    background: url(../img/cart_t.gif) no-repeat;
    
}
/* 购物车主体内容 */
.car-content{
    width: 1000px;
    margin: 0 auto;
}
/* 购物车第一行 */
.one-row{
    width: 998px;
    height: 43px;
    line-height: 43px;
    border: 1px solid #e0e0e0;
    border-top: 0;
    background: #f3f3f3;
    color: #666666;
}
.one-row,tr,td{
    border-collapse: collapse;
    border-spacing: 0;
    border-color: transparent;
}
td{
    display: table-cell;
}
.td-one{
    width:34px;
}
.dsid{
    margin: 15px 5px 0 15px;
} 
.clatd-two{
    width: 100px;
}
.clatd-three{
    width: 442px;
}
.clatd-fo,.clatd-bf{
    width: 100px;
    text-align: center;
}
.clatd-re{
    width: 120px;
    text-align: center;
}
.clatd-fh{
    width: 102px;
    text-align: center;
}
.car-c-t{
    width: 1000px;
    margin: 0 auto;
}
.one-c-t{
    width: 100%;
    height: 25px;
    line-height: 25px;
    margin: 10px 0 5px;
}
.one-c-t b{
    margin-right: 10px;
    color: #666;
    font-size:12px ;
}
.c-frp{
    width: 998px;
    border: 1px solid #e0e0e0;
    border-bottom: 0;
}
.c-frp tr{
    border: 0;
   
}
.car-c-t{
    border-bottom: 1px solid #e0e0e0;
}
.c-frp td{
    height: auto;
    padding: 20px 0 8px 0;
}
.c-gore{
    height: auto;
    min-height: 118px;
}
.td-a{
    width: 34px;
    height: auto;
    padding: 20px 0 8px 0;
}
.td-a input{
    margin: 0 5px 0 15px;
}
.td-b{
    width: 100px;
   
}
.td-b img{
    width: 80px;
    margin: 0 10px;
}
.td-d{
    width: 232px;
    line-height: 20px;
}
.sof{
    color: green;
    font-weight: bold;
}
.c-frp td.td-e{
    width: 186px;
    height: 98px;
    padding: 20px 0 0 25px;
    line-height: 18px;
    color: #9c9c9c;
    cursor: pointer;
    position: absolute;
}
.td-f{
    width: 100px;
    text-align: center;
    color: #3c3c3c;
}
.td-f div{
    width: 79px;
    height: 22px;
    line-height: 22px;
    margin: 8px auto 0;
    border: 1px solid #ffbfd5;
    color: #db2766;
    cursor: pointer;
    background: #fff;
    position: relative;
}
.td-f div s{
    width: 9px;
    height: 5px;
    background: url(../img/c_sbg.png) no-repeat 0 -5px;
    display: block;
    margin: 7px 5px 7px 0;
    float: right;
}
.td-f ul{
    width: auto;
    line-height: 20px;
    background: #f3f3f3;
    border: 1px solid #ffbfd5;
    border-top: inherit;
    position: absolute;
    top: 21px;
    left: -1px;
    display: none;
}
.td-f ul li{
    text-align: left;
    white-space: nowrap;
    padding: 3px 5px;
}
.td-f ul li a{
    color: #333333;
}
.td-f div:hover s{
    background: url(../img/c_sbg.png) no-repeat 0 0px;
}
.td-f div:hover ul{
    display: block;
}
.td-g{
    width: 100px;
    padding: 20px 10px 0;
    text-align: center;
}
.g-jian,.g-jia{
    width: 18px;
    height: 22px;
    line-height: 22px;
    background: #fff;
    border: 1px solid #cacbcb;
    cursor: pointer;
    float: left;
}
.td-g input{
    width: 44px;
    height: 22px;
    text-align: center;
    float: left;
    margin: 0;
}
.td-g p{
    width: 80px;
    height: 20px;
    line-height: 20px;
    display: block;
    color: #aaaaaa;
}
.td-h{
    width: 120px;
    height: auto;
    padding: 20px 0 8px 0;
    color: #3c3c3c;
    text-align: center;
    line-height: 20px;
}
.c-frp .td-i{
    width: 102px;
    height: auto;
    padding: 20px 0 0 24px;
    line-height: 20px;
}
.td-i a{
    color: #999999;
}
.bot-c{
    width: 1000px;
    border: 1px solid #e0e0e0;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
.bot-top{
    height: auto;
    padding: 20px 20px 20px 0;
    border-bottom: 1px solid #e0e0e0;
}
.neif{
    width: 300px;
}
.neif input{
    margin: 3px 5px 0 15px;
    
}
.neif span{
    margin-right: 10px;
}
.dufe{
   color: #005ea7;
}
.two-bort{
    height: 50px;
    line-height: 50px;
    background: #f3f3f3;
    text-align: right;
}
.two-bort input{
    width: 98px;
    height: 50px;
    background: #db2766;
    border: 0;
    margin: 0 0 0 30px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: "微软雅黑";
    float: right;
    cursor: pointer;
}
.two-bort span{
    color: #3c3c3c;
    font-size: 14px;
    float: right;
}
.two-bort strong{
    color: #db2766;
    font-size: 24px;
    font-family: Arial;
}
.two-bort p{
    width: 130px;
    color: #9c9c9c;
    float: right;
    margin-right: 60px;
}
.two-bort p b{
    color: #db2766;
    font-size: 14px;
    margin: 0 3px;
}
.bot-con-c{
    width: 1000px;
    margin-top: 50px;
    margin: 0 auto;
}
.bot-btns ul{
    width: 1000px;
    height: 30px;
    border-bottom: 2px solid #db2766;
}
.bot-btns ul li{
    width: 102px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-bottom: 0;
    margin: 2px 5px 0 0;
    float: left;
    cursor: pointer;
}
/* 推荐鼠标移入效果 */
.active-aa{
    width: 102px;
    height: 30px;
    line-height: 30px;
    border: 0;
    margin: 0 5px 0 0;
    background: #db2766;
    font-weight: bold;
    color: #fff
}
/* 精品推荐 */
.a01,.a02,.a03{
    width: 1000px;
    height: 309px;
    overflow: hidden; 
    margin-top: 16px;
    position: relative;
    z-index: 1;
}
.c-com-1{
    display: none;
}
.c-com-2{
    display: none;
}
.c-com-3{
    display: block;
}
.slider2{
    width: 4000px;
    position: absolute;
    float: left;
    left: 0;
}
.acti-one{
    width: 1000px;
    height: 309px;
    float: left;
}
.one-list{
    padding: 3px;
    margin: 0 5px;
    width: 184px;
    float: left;
    border: 0;
}
.img-lio{
    width: 184px;
}
.one-list p{
    width: 184px;
    height: 22px;
    padding: 0 10px;
    line-height: 22px;
    overflow: hidden;
}
.con-po{
    color: #666666;
    margin-top: 8px;
}
.con-p2{
    color: #9c9c9c;
}
.conbo-pic{
    color: #db2766;
    font-size: 16px;
    font-weight: bold;
}
/* 底部黑色 */
.blck-bott{
    width: 100%;
    background: #333333;
    height: 100px;
}
.black-cont{
    width: 1200px;
    margin: 0 auto;
    height: 52px;
    padding: 24px 0;
}
.black-left{
    float: left;
    width: 900px;
    padding-top: 8px;
}
.black-left ul li a{
    float: left;
    display: block;
    color: #fff;
    height: 14px;
    line-height: 14px;
}
.black-left p{
    color: #6b6b6b;
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding-top: 5px;
}
.black-left p a{
    color: white;
}
.black-right{
    width: 300px;
    float: right;
}
.black-right p{
    width: 300px;
    text-align: right;
    color: #6b6b6b;
    padding-top: 32px;
}
.index_gu_nav{
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
}
.gu_nav_content{
    width: 35px;
    height: 100%;
    background: #000000;
    position: relative;
    float: right;
}
.gu_nav_content ul{
    width: 35px;
    height: 270px;
    position: absolute;
    top: 50%;
    margin-top: -200px;
}
.lis_nav1{
    background: url(../img/index11_07.png) no-repeat center center;
    display: block;
    width: 35px;
    height: 60px;
    border-bottom:1px solid #3E3A39;
}
.lis_nav2 a{
    background: url(../img/index14_15.png) no-repeat center 10px;
    display: block;
    width: 35px;
    height: 105px;
    padding-top: 40px;
    border-bottom:1px solid #3E3A39;
}
.lis_nav2 a span{
    display: block;
    width: 12px;
    color: #fff;
    padding-left: 13px;
}
.lis_nav3 a{
    background: url(../img/index14_13_13.png) no-repeat center 14px;
    display: block;
    width: 35px;
    height: 60px;
    border-bottom:1px solid #3E3A39;
}
.lis_nav4{
    position: relative;
}
.lis_nav4 a{
    font-family: "微软雅黑";
    color: #fff;
    width: 35px;
    text-align: center;
    display: block;
    height: 60px;
    padding-top: 10px;
}
.app-one{
    background: url(../img/index17_03.png) no-repeat 0 0;
    width: 138px;
    height: 136px;
    padding: 15px;
    position: absolute;
    right: 27px;
    top: -90px;
    display: none;
}
.app-one img{
    width: 105px;
    height: 105px;
}
.top-fo{
    background: url(../img/index15_11.png) no-repeat right center #4A1467;
    width: 114px;
    padding-left: 19px;
    height: 36px;
    color: #fff;
    line-height: 36px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}
.top1-fo{
    display: block;
    background: url(../img/index15_11.png) no-repeat center center #4A1467;
    width: 35px;
    height: 35px;
    color: #fff;
    line-height: 36px;
    position: absolute;
    bottom: 0;
    right: 0;
}